div{
	height: 1080px;
	width: 1500px;
	background-color: whitesmoke;

}
.a{
	height:  90px;
	width: 1800px;
	background-color: white;


}
.q{
	padding: 5px;
	margin-top: 15px;
	margin-left: 500px;
	margin-bottom: 10px;
	margin-right: 5px;
	background-color: chartreuse;
	border:chartreuse;
	
	
}
.w{
	padding: 5px;
	margin-top: 15px;
	margin-bottom: 10px;
	margin-right: 5px;
	background-color: lightblue;
	border:  lightblue;
}
.r{
	padding: 5px;
	margin-top: 15px;
	margin-bottom: 10px;
	margin-right: 5px;
	background-color: lightblue;
	border:lightblue;
}
.e{
	padding: 5px;
	margin-top: 15px;
	margin-bottom: 10px;
	margin-right: 5px;
	background-color: lightblue;
	border:lightblue;
}
.t{
	padding: 5px;
	margin-top: 15px;
	margin-bottom: 10px;
	margin-right: 5px;
	background-color: red;
	border:red;

}


.b{
	height: 480px;
	width: 300px;
	background-color: white;
	float:left;
	margin-top: 20px;
	margin-right: 20px;
	margin-left: 30px;
}
.x{
	background-color: blue;
	color: skyblue;
}
.circle{
		height: 100px;
		width: 100px;
		background-color: lightblue;
		background-image: url(task/profil.jpg);
		border: 5px solid blue;
		border-radius:100px;
		margin-top: 10px;
		background-size: cover;

}
.c{
	height: 300px;
	width: 1100px;
	background-color: white;
	float:left;
	margin-top: 20px;
	margin-bottom: 20px;
	padding-left: 20px;
	margin-top: 20px;
	padding-top: 20px;
}
.ab{
	background-color: blue;
	height: 50px;
	width: 200px;
	margin-left: 70px;
	color:white;


}

.d{
	height: 350px;
	width: 1100px;
	background-color: white;
	float:left;
	padding-left: 20px;
	
}
i{
	font-size: 20px;
    margin-left: 20px;
}
#p{
	color:aqua;

}
#k{
	color:blue;
}
#l{
	color: pink;
}
.na{
	height: 5px;
	width:900px;
	background-color: blue;
	margin-left: 1px;
}
.ge{
	height: 5px;
	width:800px;
	background-color: red;
	margin-left: 1px;

}
.nd{
	height: 5px;
	width:1000px;
	background-color: green;
	margin-left: 1px;
}
.ra{
	height: 5px;
	width:600px;
	background-color: yellow;
	margin-left: 1px;
}
.nas{
	height: 5px;
	width:700px;
	background-color: aqua;
	margin-left: 1px;

}
progress{
	width: 1000px;
}